nav {
width: 100%;
background-color: red;
}

.logo{
  width: 50%;
  display:flex;
  padding-left: 0px;
  margin-left: 0px;
}

ul{
  width:50%;
  list-style-type: none;
  display: flex;
          flex-direction: row-reverse;
}

li{
  padding-left: 5px;
}
