nav {
width: 100%;
background-color: red;
}

.logo{
  width: 30%;
  display:flex;
  padding-left: 0px;
  margin-left: 0px;
  color: blue;
}

ul{
  width:30%;
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  color: green;
  padding-right: 0px;
  margin-right: 0px;
}

li{
  padding-left: 5px;
}
